<div class="container">
  <div class="col-8">
    <h3>フォロー一覧</h3>
    <% if @users.exists? %>
      <%= render 'users/index', users: @users %>
    <% else %>
      <h4>フォローしているユーザーはいません</h4>
    <% end %>
  </div>
</div>
    