<% if obj.errors.any? %>
  <div class="error-explanation">
    <h3 class="text-danger"><%= pluralize(obj.errors.count, 'error') %> prohibited this obj from being saved:</h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>